
body
{
    /* background-color: transparent !important; */
    /* background: linear-gradient(180deg, #978f94d2, #8e9091) !important;		 */
    background: #F2F2FA !important;
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    min-height:100vh;
}
