
.btn-addFile, .btn-sendMess {
    height: 100%;
    width: 5% !important;
    background: transparent;
    border: none;
}
.btn-addFile{
    margin-right: 10px;
}
.btn-sendMess{
    margin-left: 10px;

}
.btn-sendMess .ant-btn-icon{
    /*margin-left: 10px;*/
    transform: rotate(-50deg);
    margin-left: 5px;

}
.btn-addFile:hover, .btn-sendMess:hover{
    background: #2f99f0 !important;
    color: white !important;
}

/*.ant-layout-content {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: flex-end;*/
/*    padding: 20px;*/
/*    overflow-y: auto;*/

/*}*/

::-webkit-scrollbar{
    background: transparent !important;

}
::-webkit-scrollbar {
    width: 5px; /* Chiều rộng thanh cuộn */
}
::-webkit-scrollbar-thumb {
    background: #a6a4a4; /* Màu của phần cuộn */
    border-radius: 10px; /* Bo góc thanh cuộn */
}

.message p{
    width: fit-content;
    background: #2f99f0;
    padding: 10px;
    border-radius: 15px;
    color: white;

}
.message-border {
    border-top: 1px solid #e8e8e8;
}
.message .ant-image{
    width: fit-content !important;
}
.theme_light{
    h4, p{
        color: Black !important;
    }
}
.theme_dark{
    h4, p{
        color: white !important;
    }
}


.ant-layout-content .message-me{
    display: flex;
    justify-content: flex-end;
    p{
        background: #2f99f0;
        display: flex;
        max-width: 300px !important;
        line-break: anywhere;
    }
}

.ant-layout-content .message-me{
    display: flex;
    justify-content: flex-end;
    p{
        background: #2f99f0;
        display: flex;
        max-width: 300px !important;
        line-break: anywhere;
    }
}

.ant-layout-content .message-wait{
    display: flex;
    justify-content: flex-end;
    p{
        background: rgba(141, 150, 158, 0.64) !important;
        display: flex;
        max-width: 300px !important;
        line-break: anywhere;
    }
}

.ant-layout-content .message-friend{
    display: flex;
    /*justify-content: flex-end;*/
    justify-content: flex-start;
    p{
        background: rgba(118, 132, 145, 0.93);
        display: flex;
        max-width: 300px !important;
        line-break: anywhere;
    }
}

.btn-call:hover, .btn-more:hover{
    color: #2f99f0 !important;
}